/* #canvas1{
  position: absolute;
  top:40px;
  left:100px;
  z-index:1;
 
}

#canvas2{
  position: absolute;
  top: 100px;
  left: 100px;
  z-index:2;
  
} */

 /* 
html, body{
  height: 100%;
}

body{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}  */

.image{
top:40px;
left : 100px;

}