/* #canvas1{
  position: absolute;
  top:40px;
  left:100px;
  z-index:1;
 
}
This is for V1 & V2 ;  for v1, Rename canvas1 to canvas

#canvas2{
  position: absolute;
  top: 100px;
  left: 100px;
  z-index:2;
  
} 

This is for V2
*/



.image{
top:40px;
left : 100px;

}

h1,p{
 line-height: 15px !important;
}

